{{ template "common/header.tmpl" .}}
<div class="row">
    <div class="col-6">

    <p><a href="{{route "wallet.show_create"}}" class="btn btn-primary">Добавить</a></p>


    <div class="card">
    
    <div class="card-body table-responsive p-0">
        <table class="table table-hover text-nowrap">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Currency</th>
                </tr>
            </thead>
            <tbody>
                {{ range .wallets }}
                <tr>
                    <td><a href="{{route "wallet.show_update" .Id}}">{{ .Name }}</a></td>
                    <td>{{ .Currency }}</td>
                </tr>
                {{ end }}
            </tbody>
        </table>
    </div>
    
    </div>
    
    </div>
    </div>
{{ template "common/footer.tmpl" .}}
